.home-page,
.recipe-one {
    background-color: black;
    color: white;
}

.home-page ul {
    background-color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.home-page h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 800;
    background-color: blueviolet;
}

.recipe-one h1 {
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 800;
}

.recipe-one img {
    width: 600px;
    height: 400px;
}

.recipe-one h4,
h2,
ul,
ol {
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-one h2 {
    font-size: 24px;
    font-weight: 800px;
    background-color: purple;
}

.recipe-one ul,
ol {
    font-size: 18px;
}
