.home-page,
.recipe-one {
    background-color: rgb(2, 6, 29);
    color: white;
}

.home-page h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 64px;
    margin-left: 260px;
}

.home-page .title {
    background-color: rgb(29, 11, 109);
}

.recipe-list ul {
    background-color: rgb(29, 11, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.recipe-list .salisbury-steak {

}

.recipe-one h1 {
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 800;
}

.recipe-one img {
    width: 600px;
    height: 400px;
}

.recipe-one h4,
h2,
ul,
ol {
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-one h2 {
    font-size: 24px;
    font-weight: 800px;
    background-color: purple;
}

.recipe-one ul,
ol {
    font-size: 18px;
}
